h1 {
    color: black;
    text-align: center;
    font-family:'Franklin Gothic Medium', Arial, serif;
}
body {
    background-image: url("../static/Brown\ Wooden\ Parquet\ Flooring.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
    height: 100vh;
    margin: 0;
    padding: 0;
}

button {
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
}

button:hover {
    background-color: darkgreen;
}

input {
    font-size: 16px;
    padding: 5px;
}

#leaderboard {
    list-style-type: none;
    padding: 0;
}

#leaderboard li {
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}
